<!DOCTYPE html>
<html>
<head>
    <title>How to Design Login & Registration Form Transition</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style4.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
<div class="cont">
    <div class="form sign-in">
        <h2>Sign In</h2>
        <label>
            <span>Email Address</span>
            <input type="email" name="email" id="email">
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="password" id="password">
        </label>
        <button class="submit" type="button"onclick=login(document.getElementById('email').value,document.getElementById('password').value)>Sign In</button>

        <div class="button33">
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Exit </button>
            <script type="text/javascript">
                function cancelForm() {
                    window.location = "[[@{/}]]";
                }
            </script>

        </div>

    </div>




    <div class="sub-cont">
        <div class="img">


        </div>

    </div>
</div>

<script>
    function login(email, password){
        window.location = "/registration/user/"+email+"/"+password+"";
    }
    document.querySelector('.img-btn').addEventListener('click', function()
        {
            document.querySelector('.cont').classList.toggle('s-signup')
        }
    );

</script>
</body>
</html>